
/* common */

html {
    overflow: auto;
    /* overflow: hidden; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F6F9;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

p {
    margin: 0;
    padding: 0;
} 

a {
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: .03em;
    text-align: center;
    width: 100%;
    max-width: 1366px;
    color: #2997EE;
}

* {
    box-sizing: border-box;
    outline: none !important;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: none !important;
}

#main {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    position: relative;
}

.notDisplay {
    height: 0 !important;
    overflow: hidden;
    transition: .5s;
}


/* mainInput */

#mainInputBlock .selectedCategory {
    color: #07273F !important;
}

#mainInputBlock .categoryInputContainer {
    /* margin: auto; */
    margin-left: 10px;
    width: 213px;
    max-height: 64px;
    overflow: hidden;
    /* margin-bottom: 16px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    transition: .3s;
}

.activeCategoryInputContainer {
    transition: .8s;
    max-height: 300px;
    /* overflow: visible; */
}

.activeCategoryInputContainer .categoryInput{
    border: 2px solid #2997EE;
    transition: .5s;
}

#mainInputBlock .categoryInput {
    margin: auto;
    width: 213px;
    height: 64px;
    border: 2px solid #EFF0F6;
    background: #EFF0F6;
    border-radius: 8px;
    transition: .3s;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 13px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.categoryInput:hover {
    border: 2px solid #2997EE;
    transition: .3s;
}

#mainInputBlock .categoryInputText {
    width: 173px;
    height: 20px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* dark grey */

    color: #7993AF;
}

#mainInputBlock .categoryInputContainer {
    margin-bottom: 0px;
}


#mainInputBlock .activeCategoryInputContainer .categoryInputText {
    color: #07273F;
}

.categoryInputMarker {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 9px;
    height: 5px;
}

#mainInputBlock .categoryInputMarker {
    top: 28px;
}

.categoryInputMarker img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#mainInputBlock .categoryInputContent {
    position: absolute;
    /* margin-left: -22px; */
    margin: auto;
    margin-top: 4px;
    width: 213px;
    height: 0;
    max-height: 0;
    padding: 0px;
    overflow: hidden;
    background: #EFF0F6;
    border-radius: 8px;
    transition: .3s;
}

#mainInputBlock .activeCategoryInputContainer .categoryInputContent {
    height: unset;
    max-height: 300px;
    padding: 24px;
    overflow: hidden;
    transition: .3s;
    z-index: 1;
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
}

.categoryInputContentItem:nth-child(1) {
    margin-top: 0px;
}

.categoryInputContentItem {
    margin-top: 24px;
    width: 192px;
    height: 20px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
    transition: .3s;
    cursor: pointer;
}

.categoryInputContentItem:hover {
    color: #07273F;
    transition: .3s;
}


/* navigation */

.loggedEnter {
    display: none;
}

.logged .loggedEnter {
    display: flex;
    width: 40px;
    border-left: 2px solid #E1E3EC;
    height: 30px;
    float: right;
    margin-right: 30px;
    clear: right;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

.loggedEnter img{
    z-index: 1;
}

.logged .loggedEnter:hover .animateEnter{
    width: 100%;
    transition: .3s;
}

.logged .enter {
    display: none;
}

#absolutedHamburger {
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5F6F9;
    z-index: 3;
    transition: .5s;
    overflow: hidden;
}

#absolutedHamburger #lang {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

#absolutedHamburger #navLogoContent {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 25px;
    line-height: 30px;
}

#absolutedHamburgerContent {
    width: 360px;
    height: 100%;
    margin: auto;
    position: relative;
    z-index: 4;
}

#absolutedHamburgerContent #navPersonal{
    z-index: 4;
}

#absolutedHamburgerClose {
    display: block;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 0px;
    cursor: pointer;
}

.absolutedHamburgerCloseContent {
    width: 24px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2997EE;
    transition: .5s;
    transition-delay: .2s;
}

.absolutedHamburgerCloseContent:last-child {
    bottom: 0;
    top: unset;
    transform-origin: left;
}

.absolutedHamburgerClose:hover .absolutedHamburgerCloseContent{
    background-color: #492C9C;
    transition: .2s;
}

.absolutedHamburgerText {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
    transition: .2s;
    cursor: pointer;
}

.absolutedHamburgerText:hover {
    color: #492C9C;
    transition: .2s;
}

#absolutedHamburgerTextContent {
    padding-left: 25px;
    padding-top: 160px;
}

#hamburger {
    display: none;
    transition: .2s;
    cursor: pointer;
}

#nav {
    width: 100%;
    height: 105px;
    margin: auto;
    letter-spacing: 0.02em;
    font-size: 16px;
    position: relative;
}

#navLogo {
    width: 285px;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: 60px;
    padding-top: 15px;
}

#navLogoImage {
    width: 150px;
    height: 65px;
    background-color: #C4C4C4;
}

#navLogoContent {
    margin: 0;
    padding: 0;
    float: right;
    clear: right;
    line-height: 65px;
    margin-top: -65px;
    font-size: 12px;
}

#navContent {
    position: absolute;
    top: 0;
    /* left: 345px;
    width: calc(100% - 345px - 225px); */
    width: 100%;
    left: 0;
    height: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.navContentText {
    cursor: pointer;
    transition: .2s;
}

.navContentText:hover {
    color: #492C9C;
    transition: .2s;
}

.navContentText:nth-child(2) {
    margin-left: 80px;
    margin-right: 80px;
}

#navPersonal {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 150px;
    height: 30px;
}

.enter {
    width: 70px;
    border-left: 2px solid #E1E3EC;
    height: 30px;
    float: right;
    clear: right;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.enter p{
    position: relative;
}

.enter:hover  .animateEnter{
    width: 100%;
    transition: .3s;
    z-index: 0;
}

.animateEnter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #E1E3EC;
    transition: .3s;
}

#lang {
    width: 80px;
    float: left;
    clear: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.langBlock {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F5F6F9;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
}

.langBlock:not(.activeLangBlock):hover {
    transition: .2s;
    background-color: #EFF0F6;
}

.langBlock:last-child {
    margin-left: 5px;
}

.activeLangBlock {
    background-color: #EFF0F6;
    color: #2997EE !important;
    font-weight: 600;
}


/* soldText */

.soldText {
    width: max-content;
    /* max-width: 550px; */
    height: max-content;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.soldTextMain h1 {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #2A97F0 47.92%, #4F4CFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: .03em;
    font-size: 64px;
    line-height: 78px;
}

.soldTextContent {
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .03em;
    max-width: 550px;
}

/* main input */

#inputFixerBlock {
    width: max-content;
    display: flex;
}

#mainInputBlock {
    margin: auto;
    margin-top: 40px;
    width: 1200px;
    height: 110px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
}

#mainInputBlock .input {
    position: relative;
    height: 65px;
    
}

#mainInputBlock .textInput {
    width: 220px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #EFF0F6;
}

#mainInputBlock .datepicker .inputLogo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    right: 17px;
}

#mainInputBlock .customServisInput {
    margin-left: 0px;
    width: 213px;
    height: 64px;
    margin-bottom: 0px;
    background: #EFF0F6;
    border-radius: 8px;
    /* padding-left: 24px; */
}

#mainInputBlock .datepicker:nth-child(2) {
    margin-left: 10px;
}

#mainInputBlock input {
    width: 150px;
 }

#mainInputBlock .customServisInput.activeState .formLabel {
   /* padding-left: ; */
}

#mainInputBlock .input .inputContent {
    font-family: 'Commissioner', sans-serif;
    
    margin-right: 5px;
    width: 165px;
    height: 65px;
    border-radius: 8px;
    background-color: #EFF0F6;
    outline: none;
    border: none;
    padding-left: 24px;
    color: #07273F;
    letter-spacing: .02em;
    font-size: 16px;
    line-height: 16px;
    position: relative;
}

#mainInputBlock .input .inputContent::placeholder {
    font-family: 'Commissioner', sans-serif;
    /* padding-left: 20px; */
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
}

.submitButton {
    width: 255px;
    height: 65px;
    background-color: #2997EE;
    border: 2px solid #2997EE;
    color: #F7F7FC;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .02em;
    margin-left: 10px;
    margin-right: 0px;
    cursor: pointer;
    border-radius: 16px;
    transition: .3s;
}


.submitButton:hover {
    transition: .3s;
    background-color: #F7F7FC;
    border: 2px solid #2997EE;
    color: #2997EE;
}

.inputLogo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 22px;
    right: 25px;
}

.typeInputLogo {
    width: 4px;
    height: 16px;
    position: absolute;
    top: 24px;
    right: 18px;
}

.inactiveContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
    padding-top: 22px;
    padding-left: 20px;
}

.activeContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.activeContentPlaceholder {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    margin-top: 10px;
    margin-left: 20px;

    /* light grey */

    color: #7993AF;
}

.activeContentText {
    margin-top: 5px;
    margin-left: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
}

/* car blocks */

.swiper-slide {
    box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s !important;
}

.slideModify {
    width: 155px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* blue */

    color: #2997EE;
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    transition: .2s;
}

.slideModify:hover {
    transform: translateY(-3px);
    transition: .2s;
}

.swiper-slide:hover .swiperSlideImage{
    /* background-color: rgb(235, 235, 235); */
    height: 150px;
    transition: .3s !important;
}

.swiperSlideImage {
    transition: .3s !important;
    width: 100%;
    height: 176px;
    background-image: url(../assets/main/swiperCar.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.swiperSlideName {
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .03em;
    line-height: 28px;
    margin-left: 20px;
    margin-right: 20px;
    height: 54px;
    overflow: hidden;
}

.swiperSlidePrice {
    position: absolute;
    left: 20px;
    bottom: 60px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .02em;
}

.priceDay {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .02em;
    line-height: 22px;
}

.swiperSlideFeatures {
    position: absolute;
    bottom: 12px;
    right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiperFeature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 25px;
    border-radius: 30px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 10px;
    letter-spacing: .03em;
    transition: .2s;
}

.swiperFeature:hover {
    transform: translateY(-3px);
    transition: .2s;
}

.swiper-container {
    width: 1200px;
    height: 400px;
    margin-top: 20px;
    /* overflow: visible !important;
    overflow-x: hidden !important;
    overflow-y: visible !important; */
}

.swiper-wrapper {
    height: 350px !important;
    margin-top: 25px;
    margin-bottom: 25px;
    /* overflow: visible !important; */
}

.swiper-button-prev {
    width: 54px !important;
    height: 54px !important;
    border-radius: 50%;
    border: 2px solid #2997EE;
    color: #2997EE;
    font-size: 24px;
    left: -6px !important;
    outline: none;
    transition: .3s;
}

.swiper-button-prev:hover {
    border: 2px solid #2997EE;
    color: white;
    background-color: #2997EE;
    transition: .3s;
}

.swiper-button-prev::after {
    line-height: 16px !important;
    font-size: 16px !important;
}

.swiper-button-next {
    width: 54px !important;
    height: 54px !important;
    border-radius: 50%;
    border: 2px solid #2997EE;
    color: #2997EE;
    font-size: 24px;
    right: -6px !important;
    outline: none;
    transition: .3s;
}

.swiper-button-next:hover {
    border: 2px solid #2997EE;
    color: white;
    background-color: #2997EE;
    transition: .3s;
}

.swiper-button-next::after {
    line-height: 16px !important;
    font-size: 16px !important;
}

#swiperButtons {
    margin-top: 16px;
    width: max-content;
    height: max-content;
    float: right;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#swiperButtons .swiper-button-prev, #swiperButtons .swiper-button-next {
    position: relative !important;
}

/* all Blocks help */

#allBlocksHelp {
    position: relative;
    margin: auto;
    margin-top: 70px;
    width: 1200px;
    height: 190px;
    background: linear-gradient(91.38deg, #4F4CFD 0%, #2A97F0 64.06%);
    box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
    border-radius: 16px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.allBlocksHelpButton {
    width: 255px;
    height: 66px;
    background: #F5F6F9;
    box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    /* blue */

    color: #2997EE;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 62px; */
    margin-left: 16px;
    transition: .2s;
    cursor: pointer;
}

.allBlocksHelpButton:hover {
    color: #492C9C;
    transition: .2s;
    /* box-shadow: 0 0 5px rgba(255, 255, 255, .5); */
}

#allBlocksHelp img {
    width: 600px;
    height: 270px;
    position: absolute;
    right: -27px;
    top: -27px;
}

/* footer */

#footer {
    position: relative;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 25px;
    height: 110px;
}

#footerLogo {
    display: flex;
    align-items: center;
    position: absolute;
    width: max-content;
    height: 50px;
    top: 0;
    left: 0;
}

#footerContent {
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 50px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
}

#footerContent p{
    margin-left: 80px;
    width: 120px;
    cursor: pointer;
    transition: .2s;
}

#footerContent p:hover{
    color: #492C9C;
    transition: .2s;
}

#footerContent p:nth-child(1){
    margin-left: 0px;
    width: 120px;
}

#footerLogo p {
    background: linear-gradient(270deg, #2A97F0 47.92%, #4F4CFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
}

#footerLine {
    width: 1000px;
    height: 0.5px;
    position: absolute;
    top: 50px;
    background: #B7C0CC;
}

#footerText {
    position: absolute;
    left: calc(50% - 233px/2 - 375.5px);
    bottom: 0;

    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    /* light grey */

    color: #7993AF;
}

/* absolute */

.absoluted {
    display: none;
    transition: .3s;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* height: max-content; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(53, 49, 104, 0.3);
    align-items: top;
    justify-content: center;
    overflow: auto;
    padding-top: calc(50vh - 230px - 50px);
    overflow-y: scroll;
}

.regAbsoluted {
    padding-top: calc(50vh - 368px - 50px);
}

.enterBack {
    position: relative;
    /* z-index: 6; */
    width: 480px;
    height: 460px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 24px;
    margin-left: 24px;

    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    border-radius: 32px;
}

.regBack {
    height: 736px;
}

.enterBackContentBox {
    position: relative;
    width: 290px;
    height: 100%;
    /* background-color: red; */
    margin: auto;
}

.enterBackClose {
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
    top: 40px;
    right: 40px;
    color: #14142B;
    z-index: 1;
}

.enterBackMain {
    position: absolute;
    left: 20px;
    top: 70px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: 0.03em;

    /* dark grey */

    color: #07273F;
}

.enterBack .submitButton {
    position: absolute;
    width: 176px;
    height: 64px;
    left: 0;
    top: 332px;
    margin-left: unset;
}

.regBack .submitButton {
    position: absolute;
    width: 290px;
    height: 64px;
    left: 0;
    bottom: 15px;
    top: unset;
    left: calc(50% - 145px);
    margin-left: unset;
}

#enterBackSubmitForget {
    position: absolute;
    width: 95px;
    height: 15px;
    right: 4px;
    top: 359px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: #6E7191;
}

#enterBackSubmitReg {
    position: absolute;
    width: 99px;
    height: 20px;
    left: calc(50% - 99px/2 - 55.5px);
    top: 405px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;

    color: #6E7191;

    transition: .3s;
}

#enterBackSubmitReg:hover {

    color: #2997EE;

    transition: .3s;
}

#enterBackContent {
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: red;
    left: calc(50% - 325px/2 - 0.5px);
    top: 150px;
}

.normalisedInput {
    /* background: #EFF0F6; */
    border-radius: 16px;
    position: relative;
    margin-bottom: 18px;
    width: 325px;
    height: 64px;
}

.normalisedInput input{
    outline: none;
    border: 2px solid #EFF0F6;
    background: #EFF0F6;
    border-radius: 16px;
    position: relative;
    margin-bottom: 18px;
    width: 325px;
    height: 64px;
}

.inactiveNormalisedText {
    position: absolute;
    font-family: Commissioner;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #A0A3BD;
    top: 22px;
    left: 24px;
}

/* missed animated button */

.animatedButton {
    width: max-content;
    border-left: 2px solid #E1E3EC;
    height: max-content;
    float: right;
    clear: right;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position: relative;
    letter-spacing: 0.02em;
}

.animatedButton p{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
}

.animatedButtonEnter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #E1E3EC;
    transition: .3s;
    z-index: 0;
}


.animatedButton:hover  .animatedButtonEnter{
    width: 100%;
    transition: .3s;
}

/* login and registration */

.form-tab-rcl {
    width: 290px;
    height: max-content;
    position: absolute;
    top: 150px;
    left: calc(50% - 290px/2);
}

.customServisInput {
    width: 290px;
    height: 64px;
    background: #EFF0F6;
    border: 2px solid #EFF0F6;
    border-radius: 16px;
    margin-bottom: 18px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.regBack .customServisInput {
    margin-bottom: 10px;
}

.customServisInput:hover {
    border: 2px solid #2A97F0;
    transition: .3s;
}

.formLabel {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #A0A3BD;
    width: 277px;
    display: block;
    height: 17px;
    padding-left: 24px;
    margin-top: 20px;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    transition: .3s;
}

.formContentReset {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 26px;
    right: 16px;
    transition: .3s;
}

.formContentReset:hover .formContentResetContent {
    background-color: #2A97F0;
    border: 1px solid #2A97F0;
    transition: .3s;
}

.formContentResetContent {
    position: absolute;
    width: 0px;
    height: 16px;
    left: 0px;
    top: -4px;
    background-color: #A0A3BD;
    border: 1px solid #A0A3BD;
    transform: rotate(-135deg);
}

.formContentResetContent:nth-child(2) {
    position: absolute;
    width: 0px;
    height: 16px;
    left: 0px;
    top: unset;
    bottom: 0;

    border: 1px solid #A0A3BD;
    transform: rotate(-45deg);
}

.customServisInputMain {
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;
    
    border: none;
    background: none;
    width: 220px;
    height: 20px;
    position: absolute;
    bottom: 6px;
    left: 24px;

    color: #14142B;
}

.emptyState {
    overflow: hidden;
}

.emptyState .formContentReset, .emptyState .customServisInputMain {
    display: none;
}

.activeState .formContentReset, .activeState .customServisInputMain {
    display: block;
}

.notEmptyUnfocusedState .customServisInputMain {
    display: block;
}

.notEmptyUnfocusedState .formContentReset {
    opacity: 0;
}

.notEmptyUnfocusedState {
    overflow: hidden;
    border: 2px solid inherit;
    transition: .3s;
}

.notEmptyUnfocusedState .formLabel {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    margin-top: 9px;
    letter-spacing: 0.02em;
    display: block;
    align-items: unset;
    padding-left: 24px;

    color: #6E7191;
    transition: .3s;
}

.activeState {
    overflow: hidden;
    border: 2px solid #2A97F0;
    transition: .3s;
}

.activeState .formLabel {
    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    margin-top: 9px;
    letter-spacing: 0.02em;
    display: block;
    align-items: unset;
    padding-left: 24px;

    color: #6E7191;
    transition: .3s;
}

.passwordInputer {
    position: relative;
    top: 0;
    left: 0;
    float: right;
    width: calc(100% - 65px);
    height: 100%;
    /* padding-left: 65px; */
}

.passwordInputerImager {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lawngreen; */
    position: relative;
    top: 0;
    left: 0;
    float: left;
    width: 65px;
    height: 100%;
    /* padding-left: 65px; */
}

.passwordInputer .formLabel {
    padding-left: 0;
}

.passwordInputer input {
    left: 0;
    width: 175px;
}

.correctPassword.customServisInput{
    border: 2px solid #00966D;
}

.correctPassword .formLabel{
    color: #00966D;
}

.correctPassword.formContentReset{
    background-color: #00966D;
    border: 2px solid #00966D;
}

.incorrectPassword.customServisInput{
    border: 2px solid #C30052;
}

.incorrectPassword .formLabel{
    color: #C30052;
}

.incorrectPassword.formContentReset{
    background-color: #C30052;
    border: 2px solid #C30052;
}

.inputHint {
    opacity: 0;
    transition: .3s;
}

.correctInputHint {
    position: absolute;
    width: 178px;
    height: 17px;
    left: 0px;
    bottom: -10px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    opacity: 1;
    transition: .3s;
    color: #00966D;
}


.incorrectInputHint {
    position: absolute;
    width: 178px;
    height: 17px;
    left: 0px;
    bottom: -10px;

    font-family: Commissioner;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    opacity: 1;
    transition: .3s;
    color: #C30052;
}

/* account nav */

.accountNavBlock {
    margin-top: 30px;
    width: 500px;
    height: 100px;
}

.accountNavMain {
    width: max-content;
    height: max-content;
}

.accountNavMain p {
    background: linear-gradient(270deg, #2A97F0 47.92%, #4F4CFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 28px;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.accountNavContent {
    border-bottom: 1px solid #E1E2EC;
    width: max-content;
    height: max-content;
    margin-left: 50px;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.accountNavElem {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
    margin-left: 22px;
    transition: .2s;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 4px solid rgba(225, 226, 236, 0);
    height: 30px;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
}

.accountNavElem:hover {
    transition: .2s;
    color: #2997EE;
    border-bottom: 4px solid #2997EE;
}

.activeAccountNavElem {
    transition: .2s;
    color: #2997EE;
    border-bottom: 4px solid #2997EE;
}

.activeAccountNavElemHint {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00BA88;
}

.uncheckedUpdates .activeAccountNavElemHint {
    display: block;
}

.accountNavElem:nth-child(1) {
    margin-left: 0px;
}

.accountCarName {
    width: 100%;
    height: max-content;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    /* identical to box height, or 100% */

    letter-spacing: 0.03em;

    /* dark grey */

    color: #07273F;
}

/* chat */

.chat {
    width: 460px;
    height: max-content;
    position: relative;
}

.chat .accountCarName {
    margin-top: 40px;
    margin-bottom: 24px;
    display: none;
}

.chatContent {
    width: 460px;
    height: 535px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    border-radius: 16px;
}

.chatHint {
    width: 460px;
    text-align: center;
    margin-top: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
}

/* cities */

.textInput input:focus ~ .citiesContent{
    max-height: 400px;
    transition: .3s;
}

.citiesContent {
    width: calc(100%);
    max-width: calc(100%);
    height: max-content;
    /* max-height: 200px; */
    max-height: 0px;
    margin-top: 4px;
    background: #EFF0F6;
    border-radius: 16px;
    /* padding: 24px; */
    /* margin-left: 10px; */
    /* margin-right: 5px; */
    position: relative;
    overflow: auto;
    overflow-y: hidden;
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);
    transition: .3s;
}

.citiesContentFixer {
    position: relative;
    overflow: auto;
    width: calc(100% - 6px);
    height: 200px;
    max-height: 200px;
    margin-right: 6px;
    overflow-y: auto;
}

.citiesContentFixer::-webkit-scrollbar {
    width: 4px;
    border-radius: 20px;
    cursor: pointer;
  }
  

  .citiesContentFixer::-webkit-scrollbar-track {
    border-radius: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .citiesContentFixer::-webkit-scrollbar-thumb {
      cursor: pointer;
    background-color: #B7C0CC;
    border-radius: 20px;
    transition: .2s;
  }
  
  .citiesContentFixer::-webkit-scrollbar-thumb:hover { 
    cursor: pointer;
    background-color: #A0A3BD;
    border-radius: 20px;
    transition: .2s;
  }

.citiesContentElem {
    cursor: pointer;
    width: calc(100% - 48px);
    height: max-content;
    /* margin-top: 12px; */
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;
    transition: .2s;
}

.citiesContentElem:hover {
    transition: .2s;
    color: #07273F;
}

.citiesContentElem:first-child {
    margin-top: 24px;
}

.citiesContentElem:last-child {
    margin-bottom: 24px;
}

/* vars */

.blue {
    color: #2997EE;
}

.lightGrey {
    color: #7993AF;
}

.grey {
    color: #4E4B66;
}

.darkGrey {
    color: #07273F;
}

.orangeFeature {
    background-color: #FFE5C0;
    color: #F89305;
}

.blueFeature {
    background-color: #C3E1FB;
    color: #1E94FB;
}













@media screen and (max-width: 999px) {
    #absolutedHamburgerClose {
        right: 24px !important;
    }

    #hamburger {
        right: 24px !important;
    }

    .enter {
        margin-left: 25px !important;
    }

    /* .logged .loggedEnter {
        margin-right: 80px !important;
    } */
}










@media screen and (max-width: 1259px) {

    #mainInputBlock .textInput {
        margin-right: 6px;
        margin-top: 5px;
        width: 213px;
    }

    .logged .loggedEnter {
        margin-right: 110px;
    }

    h3 {
        font-size: 24px;
        max-width: 768px;
    }

    .chat .accountCarName {
        display: block;
    }

    .bookingContent .accountCarName {
        display: none;
    }

    #absolutedHamburger {
        height: 100%;
    }

    #hamburger {
        display: block;
        width: 24px;
        height: 12px;
        border-top: 3px solid #2997EE;
        border-bottom: 3px solid #2997EE;
        position: absolute;
        top: 22px;
        right: 0px;
    }

    #hamburger:hover {
        border-top: 3px solid #492C9C;
        border-bottom: 3px solid #492C9C;
        transition: .2s;
    }

    #absolutedHamburgerContent {
        width: 768px;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 4;
    }

    #absolutedHamburgerTextContent {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 300px;
        padding-left: 0px;
    }

    .absolutedHamburgerText:nth-child(2) {
        margin-left: 170px;
        margin-right: 170px;
    }

    #absolutedHamburger #lang {
        display: flex;
        position: absolute;
        bottom: 50px;
        right: 25px;
    }
    
    #absolutedHamburger #navLogoContent {
        display: block;
        position: absolute;
        bottom: 50px;
        left: 25px;
        line-height: 30px;
    }

    #main {
        width: 100%;
        max-width: 768px;
        /* background-color: red; */
        margin: auto;
        position: relative;
    }

    #nav {
        width: 100%;
        height: 55px;
        margin: auto;
        letter-spacing: 0.02em;
        font-size: 16px;
        position: relative;
    }
    
    #navLogo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        padding-top: 0;
    }
    
    #navLogoImage {
        width: 88px;
        height: 39px;
        background-color: #C4C4C4;
    }
    
    #navLogoContent {
        display: none;
    }
    
    #navContent {
        display: none;
    }

    #navPersonal {
        top: 13.5px;
        left: 0;
    }
    
    .enter {
        float: left;
        clear: unset;
        margin-left: 0px;
    }
    
    #lang {
        display: none;
    }

    .swiper-container {
        width: 728px;
        height: 400px;
        margin-top: 20px;
        /* overflow: visible !important;
        overflow-x: hidden !important;
        overflow-y: visible !important; */
    }
    
    .swiper-wrapper {
        height: 350px !important;
        margin-top: 25px;
        margin-bottom: 25px;
        /* overflow: visible !important; */
    }

    .swiper-slide {
        width: 232px;
        box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: .3s !important;
    }



    #inputFixerBlock {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        width: 480px;
        padding-left: 10px;
    }

    #mainInputBlock {
        margin: auto;
        width: 728px;
        height: max-content;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        margin-top: 42px;
    }
    
    #mainInputBlock .input {
        position: relative;
    }

    .categoryInputMarker {
        right: 24px;
    }

    #mainInputBlock .categoryInputContainer {
        margin-left: 0px;
    }
    
    #mainInputBlock .input .inputContent {
        /* margin-left: 6px; */
        /* margin-right: 6px; */
        /* width: 213px; */
        height: 64px;
        /* margin-top: 5px; */
        font-size: 14px;
    }

    #mainInputBlock .categoryInputContainer {
        margin-top: 8px;
    }
    
    #mainInputBlock .input .inputContent::placeholder {
        font-family: 'Commissioner', sans-serif;
        font-size: 16px;
    }

    #mainInputBlock .submitButton {
        margin: auto;
        margin-top: 16px;
        width: 256px;
        height: 64px;
        float: right;
        margin-right: 10px;
        margin-top: -100px;
    }

    .inputLogo {
        right: 18px;
        /* top: 28px; */
    }

    .typeInputLogo {
        top: 32px;
        right: 30px;
    }

    .activeContentText {
        font-size: 14px;
    }

    .inactiveContent {
        font-size: 14px;
    }

    #allBlocksHelp {
        width: 728px;
        display: block;
        align-items: unset;
        justify-content: unset;
        padding-left: 40px;
        padding-top: 23px;
    }
    
    .allBlocksHelpButton {
        width: 255px;
        height: 64px;
        background: #F5F6F9;
        box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.02em;
    
        /* blue */
    
        color: #2997EE;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
        cursor: pointer;
        margin-bottom: 12px;
    }
    
    #allBlocksHelp img {
        width: 430px;
        height: 190px;
        position: absolute;
        right: -16px;
        top: unset;
        bottom: -46px;
    }

    #footer {
        width: 728px;
    }
    
    #footerContent {
        display: flex;
        align-items: center;
        justify-content: right;
        position: absolute;
        top: 0;
        right: 0;
        width: 560px;
        height: 50px;
    
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.02em;
    
        /* light grey */
    
        color: #7993AF;
    }
    
    #footerContent p{
        margin-left: 30px;
        width: 120px;
        cursor: pointer;
        transition: .2s;
    }

    #footerLine {
        width: 728px;
        height: 0.5px;
        position: absolute;
        top: 50px;
        background: #B7C0CC;
    }
    
    #footerText {
        position: absolute;
        left: 0;
        bottom: 0;
    
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        /* light grey */
    
        color: #7993AF;
    }

    

}





















@media screen and (max-width: 767px) {

    #mainInputBlock .categoryInputContent {
        width: 288px;
    }

    
    .accountNavBlock {
        margin-top: 30px;
        width: 312px;
        height: 100px;
    }
    
    .accountNavMain {
        width: max-content;
        height: max-content;
    }
    
    .accountNavMain p {
        font-size: 24px;
    }
    
    .accountNavContent {
        margin-left: 0px;
    }
    
    .accountNavElem {
        font-size: 14px;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 13px;
    }
    
    .accountCarName {
        font-size: 24px;
    }

    /* .chat .accountCarName {
        display: block;
    }

    .bookingContent .accountCarName {
        display: none;
    } */

    .chat {
        width: 312px;
        height: max-content;
        position: relative;
        margin-top: 0px;
    }
    
    .chatContent {
        width: 312px;
        height: 535px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
        border-radius: 16px;
    }
    
    .chatHint {
        width: 312px;
        text-align: center;
        margin-top: 14px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
    
        /* light grey */
    
        color: #7993AF;
    }

    .logged .loggedEnter {
        margin-right: 80px;
    }

    h3 {
        max-width: 312px;
        margin: auto;
    }

    #absolutedHamburger {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #F5F6F9;
        z-index: 3;
    }
    
    #absolutedHamburger #lang {
        display: flex;
        position: absolute;
        bottom: 15px;
        right: 25px;
    }
    
    #absolutedHamburger #navLogoContent {
        display: block;
        position: absolute;
        bottom: 15px;
        left: 25px;
        line-height: 30px;
    }
    
    #absolutedHamburgerContent {
        width: 100%;
        height: 100%;
        margin: auto;
        position: relative;
        z-index: 4;
    }
    
    #absolutedHamburgerContent #navPersonal{
        z-index: 4;
    }
    
    .absolutedHamburgerText {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        letter-spacing: 0.02em;
        margin-bottom: 60px;
        transition: .2s;
        cursor: pointer;
    }
    
    .absolutedHamburgerText:hover {
        color: #492C9C;
        transition: .2s;
    }
    
    #absolutedHamburgerTextContent {
        display: unset;
        align-items: unset;
        justify-content: unset;
        padding-left: 25px;
        padding-top: 160px;
        position: absolute;
        left: calc(50% - 100px);
    }

    .absolutedHamburgerText:nth-child(2) {
        margin-left: 0px;
        margin-right: 0px;
    }

    #hamburger {
        display: block;
        width: 24px;
        height: 12px;
        border-top: 3px solid #2997EE;
        border-bottom: 3px solid #2997EE;
        position: absolute;
        top: 22px;
        right: 0px;
    }

    #hamburger:hover {
        border-top: 3px solid #492C9C;
        border-bottom: 3px solid #492C9C;
        transition: .2s;
    }

    #main {
        width: 100%;
        max-width: unset;
        /* background-color: red; */
        margin: auto;
        position: relative;
    }

    #nav {
        width: 100%;
        height: 55px;
        margin: auto;
        letter-spacing: 0.02em;
        font-size: 16px;
        position: relative;
    }
    
    #navLogo {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        padding-top: 0;
    }
    
    #navLogoImage {
        width: 88px;
        height: 39px;
        background-color: #C4C4C4;
    }
    
    #navLogoContent {
        display: none;
    }
    
    #navContent {
        display: none;
    }

    #navPersonal {
        top: 13.5px;
        left: 0;
    }
    
    .enter {
        float: left;
        clear: unset;
        margin-left: 0px;
    }
    
    #lang {
        display: none;
    }

    .swiper-container {
        width: 100%;
        max-width: 768px;
        height: 400px;
        margin-top: 20px;
        /* overflow: visible !important;
        overflow-x: hidden !important;
        overflow-y: visible !important; */
    }
    
    .swiper-wrapper {
        height: 350px !important;
        margin-top: 25px;
        margin-bottom: 25px;
        /* overflow: visible !important; */
    }

    .swiper-slide {
        width: 286px !important;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: .3s !important;
    }

    #swiperButtons {
        display: none;
    }


    .soldText {
        max-width: 360px;
    }
    
    .soldTextMain h1 {
        font-size: 32px;
    }
    
    .soldTextContent {
        font-size: 12px;
        margin-right: 24px;
        margin-left: 24px;
    }

    #mainInputBlock {
        margin: auto;
        margin-top: 20px;
        width: 312px;
        height: max-content;
        display: block;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    #inputFixerBlock {
        display: block;
        align-items: unset;
        justify-content: unset;
        flex-wrap: unset;
        width: unset;
        padding-left: unset;
    }
    
    #mainInputBlock .input {
        width: calc(100% - 20px);
        position: relative;
        width: unset;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 2px;
    }

    #mainInputBlock .textInput {
        margin-top: 8px;
    }
    
    #mainInputBlock .input .inputContent {
        position: relative;
        margin-left: 2px;
        /* margin-right: 12px; */
        width: 230px;
        height: 64px;
        /* margin-top: 8px; */
        font-size: 14px;
    }
    
    #mainInputBlock .input .inputContent::placeholder {
        font-family: 'Commissioner', sans-serif;
        font-size: 16px;
    }

    #mainInputBlock .submitButton {
        margin: auto;
        margin-top: 16px;
        width: 288px;
        height: 56px;
        float: unset;
    }

    .inputLogo {
        /* top: 22px; */
        right: 22px;
    }

    .typeInputLogo {
        right: 30px;
    }

    .activeContentText {
        font-size: 14px;
    }

    .inactiveContent {
        font-size: 14px;
    }

    #mainInputBlock .datepicker:nth-child(2) {
        margin-left: 0px;
    }

    #mainInputBlock .datepicker .customServisInput {
        margin-top: 8px;
        width: 288px;
        /* margin: auto; */
        margin-left: 12px;
    }

    #mainInputBlock .categoryInputContainer {
        margin-top: 8px;
        width: 312px;
        margin-left: 12px;
    }

    #mainInputBlock .categoryInput {
        width: 288px;
        margin: unset;
    }


    #allBlocksHelp {
        margin-top: 25px;
        width: 310px;
        height: 260px;
        display: block;
        padding-top: 20px;
        padding-bottom: 110px;
        position: relative;
        padding-left: unset;
    }
    
    .allBlocksHelpButton {
        margin: auto;
        width: 255px;
        height: 56px;
        background: #F5F6F9;
        box-shadow: 0px 8px 16px rgba(51, 51, 98, 0.04);
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.02em;
    
        /* blue */
    
        color: #2997EE;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s;
        cursor: pointer;
        margin-bottom: 12px;
    }
    
    #allBlocksHelp img {
        width: 320px;
        height: 130px;
        position: absolute;
        right: -13px;
        top: unset;
        bottom: -29px;
    }

    #footer {
        position: relative;
        width: 336px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        height: 110px;
    }
    
    #footerLogo {
        display: flex;
        align-items: center;
        position: absolute;
        width: max-content;
        height: 50px;
        top: 0;
        left: 0;
    }
    
    #footerContent {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: absolute;
        top: 40px;
        right: 0;
        width: 336px;
        height: max-content;
    
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: left;
        letter-spacing: 0.02em;
    
        /* light grey */
    
        color: #7993AF;
    }
    
    #footerContent p{
        margin-top: 25px;
        margin-left: 0px;
        width: 150px;
        cursor: pointer;
        transition: .2s;
    }
    
    #footerContent p:hover{
        color: #492C9C;
        transition: .2s;
    }
    
    #footerLogo p {
        background: linear-gradient(270deg, #2A97F0 47.92%, #4F4CFD 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    #footerLine {
        width: 360px;
        height: 0.5px;
        position: absolute;
        top: 50px;
        background: #B7C0CC;
    }
    
    #footerText {
        position: absolute;
        left: 0px;
        bottom: -60px;
    
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        /* light grey */
    
        color: #7993AF;
    }

}