
#arendodatelMainBlock {
    width: 1204px;
    margin: auto;
}

.pencilIcon {
    width: max-content;
}

.slideModifyText {
    width: max-content;
    margin-top: 4px;
    transition: .2s;
}

.accountSwiperMain {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: 24px;
    width: max-content;
}

.submitButton {
    width: 286px;
    height: 56px;
}

.arendodatelFlexBlock {
    width: 1204px;
    margin: auto;
}

.arendodatelFlexContent {
    width: 1204px;
    margin: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 44px;
}

.flexFiltrarionMarkersBlock {
    width: 300px;
    height: max-content;
    padding: 32px 24px 32px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    /* display: flex;
    align-items: center; */
}

.container {
    /* margin: auto; */
    margin-left: 0px;
    display: block;
    position: relative;
    padding-left: 44px;
    padding-top: 2px;
    margin-bottom: 26px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
    /* margin-left: 35px; */
  }
  
.container:last-child {
    margin-bottom: 0px;
  }
  
  .container p {
    width: max-content;
    position: relative;
  }

  .containerCountHint {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    
    /* light grey */
    
    color: #7993AF;
    position: absolute;
    top: -4px;
    right: -15px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color:  #D6D8E6;
    border-radius: 50%;
    transition: .2s;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #2997EE;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2997EE;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }

.flexArendodatelBlock {
    width: 880px;
    height: max-content;
    min-height: 100px;
    margin-left: 20px;
    position: relative;
}

.flexDeal {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
}

.flexDealBlock {
    width: 100%;
    min-height: 141px;
    height: max-content;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.02);
    border-radius: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: .2s;
    cursor: pointer;
}

.flexDealBlock:hover {
    transform: translateY(-3px);
    /* transform: scale(1.01); */
    box-shadow: 0px 8px 16px rgba(8, 24, 81, 0.08);
    transition: .2s;
}

.flexDealBlockPersonal {
    width: 220px;
    height: max-content;
    position: relative;
}

.flexDealBlockPersonalStatus {
    width: 170px;
    height: max-content;
    margin-left: 5px;
    position: relative;
}

.flexDealBlockPersonal:hover .statusText{
    opacity: 2;
    transition: .2s;
}

.statusPoint {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F4B740;
    transition: .2s;
}

.statusText {
    position: absolute;
    top: 0;
    left: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.03em;
    
    color: #F4B740;
    transition: .2s;
}

.statusDate {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    /* light grey */
    
    color: #7993AF;
    margin-top: 6px;
    margin-left: 20px;
}

.flexDealBlockPersonalInfo {
    width: 220px;
    height: max-content;
    position: relative;
    margin-top: 20px;
    padding-top: 5px;
    
    /* overflow: auto; */
}

.infoImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
}

/* .infoImg img {
    width: 100%;
    height: 100%;
    bradis
} */

.infoName {
    width: calc(100% - 65px);
    /* margin-top: -50px; */
    margin-left: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    letter-spacing: 0.03em;

    color: rgba(7, 39, 63, 0.8);
}

.infoCar {
    width: calc(100% - 65px);
    margin-left: 65px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* light grey */

    color: #7993AF;
    margin-top: 5px;
}

.flexDealBlockMainInfo {
    width: 360px;
    height: max-content;
    position: relative;
    margin-left: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.flexDealBlockMainInfoBlock {
    width: 180px;
    height: max-content;
    min-height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.flexDealBlockMainInfoBlock:nth-last-child(1) {
    margin-bottom: 0px;
}

.flexDealBlockMainInfoBlock:nth-last-child(2) {
    margin-bottom: 0px;
}

.infoBlockHint {
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* light grey */

    color: #7993AF;
    transition: .2s;
}

.flexDealBlockMainInfoBlock:hover .infoBlockHint {

    color: #4E4B66;
    transition: .2s;
}

.infoBlockContent {
    width: 100%;
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
}

.flexDealBlockMainSubmit {
    width: 176px;
    height: 100px;
    position: relative;
    margin-left: 16px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.flexDealBlock .submitButton {
    width: 176px;
    height: 56px;
    margin-left: calc(50% - 176px/2);
    border-radius: 8px;
}

.submitText {
    transition: .2s;
    cursor: pointer;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* light grey */

    color: #7993AF;

    position: absolute;
    text-align: center;
    bottom: 2px;
}

.submitText:hover {
    transition: .2s;
    color: #07273F;
}

.onConfirmation {
    display: none;
}

.onConfirmationState .onConfirmation {
    display: flex;
}

.awaitingPayment {
    display: none;
}

.awaitingPaymentState .awaitingPayment {
    display: flex;
}

.confirmed {
    display: none;
}

.confirmedState .confirmed {
    display: flex;
}

.rejected {
    display: none;
}

.rejectedState .rejected {
    display: flex;
}

.ended {
    display: none;
}

.endedState .ended {
    display: flex;
}

.confirmed .statusPoint {
    background: #00BA88;
}

.confirmed .statusText {
    color: #00BA88;
}

.rejected .flexDealBlockMainSubmit{
    display: none;
}

.rejected .statusPoint {
    background: #ED2E7E;
}

.rejected .statusText {
    color: #ED2E7E;
}

.ended .submitText {
    display: none;
}

.ended .statusPoint {
    background: #7E819E;
}

.ended .statusText {
    color: #7E819E;
}












@media screen and (max-width: 1259px) {
    #arendodatelMainBlock {
        width: 728px;
    }

    .arendodatelFlexBlock {
        width: 728px;
    }

    .arendodatelFlexContent {
        width: 728px;
    }

    .flexArendodatelBlock {
        margin-left: 0px;
        margin-top: 24px;
        width: 728px;
    }

    .flexDealBlockMainInfo {
        margin-left: 10px;
        width: 272px;
    }

    .flexDealBlockMainInfoBlock {
        width: 136px;
    }

    .flexDealBlockMainSubmit {
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {

    .flexFiltrarionMarkersBlock {
        width: 312px;
    }

    #arendodatelMainBlock {
        width: 312px;
    }

    .arendodatelFlexBlock {
        width: 312px;
    }

    .arendodatelFlexContent {
        width: 312px;
    }

    .flexArendodatelBlock {
        width: 312px;
    }

    .flexDealBlock {
        flex-wrap: wrap;
    }

    .flexDealBlockMainInfo {
        width: 312px;
        margin-top: 40px;
    }

    .flexDealBlockMainInfoBlock {
        width: 156px;
    }

    .flexDealBlockMainInfoBlock:nth-last-child(1) {
        margin-bottom: 25px;
    }

    .flexDealBlockMainInfoBlock:nth-last-child(2) {
        margin-bottom: 25px;
    }

    .flexDealBlockMainSubmit {
        margin: auto;
    }

    /* .flexDealBlockMainInfo {
        margin-left: 10px;
        width: 272px;
    }

    .flexDealBlockMainInfoBlock {
        width: 136px;
    }

    .flexDealBlockMainSubmit {
        margin-left: 0px;
    } */
}