
#arendodatelMainBlock {
    width: 1204px;
    margin: auto;
}

.pencilIcon {
    width: max-content;
}

.slideModifyText {
    width: max-content;
    margin-top: 4px;
    transition: .2s;
}

.accountSwiperMain {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: 24px;
    width: max-content;
}

.submitButton {
    width: 286px;
    height: 56px;
}

.arendodatelFlexBlock {
    width: 1204px;
    margin: auto;
}

.arendodatelFlexContent {
    width: 1204px;
    margin: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.flexFiltrarionMarkersBlock {
    width: 300px;
    height: max-content;
    padding: 32px 24px 32px 24px;
    background: #FFFFFF;
    border-radius: 16px;
    /* display: flex;
    align-items: center; */
}

.container {
    /* margin: auto; */
    margin-left: 0px;
    display: block;
    position: relative;
    padding-left: 44px;
    padding-top: 2px;
    margin-bottom: 26px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.02em;

    /* dark grey */

    color: #07273F;
    /* margin-left: 35px; */
  }
  
  .container:last-child {
    margin-bottom: 0px;
  }
  
  .container p {
    width: max-content;
    position: relative;
  }

  .containerCountHint {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    
    /* light grey */
    
    color: #7993AF;
    position: absolute;
    top: -4px;
    right: -15px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color:  #D6D8E6;
    border-radius: 50%;
    transition: .2s;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #2997EE;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2997EE;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }